Exercise 2

# Data Science Tools and Ecosystem

Exercise 3

### In this notebook, Data Science Tools and Ecosystme are summarized.

In [ ]:
Exercise 4

# Data Science Languages

Some of the most popular programming languages used in Data Science:

1. **Python**  
2. **R**  
3. **SQL**  
4. **Java**  
5. **Scala**  
6. **Julia**  
7. **C++**  
8. **Ruby**  
9. **Visual Basic**

In [ ]:
Exercise 5

# Data Science Libraries

Some of the most popular libraries and frameworks used in Data Science:

1. **NumPy**  
2. **Pandas**  
3. **Matplotlib**  
4. **Seaborn**  
5. **Scikit-learn**  
6. **TensorFlow**  
7. **Keras**  
8. **PyTorch**  
9. **Visual Basic**  
10. **BigDL**  
11. **Ggplot2**  
12. **Apache Spark**

In [ ]:
Exercise 6

# Data Science Tools

Below is a table of commonly used Data Science tools:

| Tool            | Description                                      |
|-----------------|--------------------------------------------------|
| **Jupyter Notebook** | Interactive environment to write code, run it, and visualize results |
| **RStudio**     | IDE for R programming and statistical analysis   |
| **Tableau**     | Business Intelligence tool for data visualization |
| **Power BI**    | Microsoftâ€™s tool for data visualization and reporting |
| **Apache Spark**| Big data processing and machine learning framework |
| **Excel**       | Widely used for data manipulation and analysis   |

In [ ]:
Exercise 7

# Arithmetic Expression Examples

***Below are a few examples of evaluating arithmetic expressions in Python

- **Addition (+)**: Adds two numbers
- **Subtraction (-)** : Subtracts one number from another  
- **Multiplication (*)** : Multiplies two numbers  
- **Division (/)** : Divides one number by another (returns float)  
- **Floor Division (//)** : Divides and returns the integer part only  
- **Modulus (%)** : Returns the remainder of a division  
- **Exponentiation (**)** : Raises a number to the power of another  

We will see examples of these operators in the next code cells.

Exercise 8

In [8]:

a = 5
b = 3
c = 4
#This is a simple arithmetic expression to multiply and then add integers
result = (3*4)+5
print(result)

17

Exercise 9

In [10]:

minutes = 200
# This will convert 200 minutes to hours by diving by 60

hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

Exercise 10

# Objectives

The objectives of this exercise are:

- To understand the basics of working with Jupyter Notebook  
- To learn how to create and format Markdown cells  
- To practice writing and executing Python code in code cells  
- To demonstrate simple arithmetic operations in Python  
- To document code and results clearly for submission

In [ ]:
Exercise 11

## Author
Tanushree Saikia